@import url(http://fonts.googleapis.com/css?family=Roboto+Mono);
@font-color: rgb(78, 78, 78);

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;

    li {

        display: inline-block;
        margin: 10px;
        background: rgba(255,255,255, 0.5);
        border-radius: 10px;
        .normal-text();
        
        a {
            color: #333;
            padding: 9px 18px;
            display: block;
            text-decoration: none;
        }

        &.active {
            background: rgba(0,0,0, 0.25);
        }
    }
}

// fullPage.js stuff
.section {
    text-align: center;

    .bg {
        background: inherit;
        position: absolute;
        height: 100%;
        top: 0;
        left: -15%;
        right: 0;
        width: 130%;
    }

    .scribble {
        width: 100px;
    }

    i {
        text-decoration: none;
        color: @font-color;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

ul {
    list-style-type: none;
}

#intro {
    

    .bg {
        background: #e97b67;

    }

    .content {
        text-align: center;
        h1 {
            font-size: 35px;
        }
    }

}

#section2 {
    vertical-align: center;
    .bg {
        background: #87bfe4;

    }

}

#section3 {
    .bg {
        background: #f5f2de;
    }

}

.content {
    z-index: 99;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;

    hr {
        border: 0;
        display: inline-block;
        margin-top: 10em;
        margin-bottom: 0.5em;
        background-color: darken(@font-color, 1);
        height: 3px;
        width: 20%;
    }

    h1 {
        .header_text();
        // color: rgb(0, 0, 0);
    }
    p {
        .normal-text();
        text-align: left;
        
    }

    .list {
        margin-left: 2%;
        margin-right: 10%;

        p {
            margin-left: 0px;
            font-weight: 600;
        }

        ul {
            list-style: square;    
        }

        li {
            .normal-text();
            text-align: left;
            padding-bottom: 5px;
        }
    }

}

.header_text() {
    font-family: Roboto Mono;
    font-size: 25px;
    color: @font-color;
}

.normal-text() {
    font-family: Roboto Mono;
    font-size: 15px;
    color: @font-color;
}