@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@page-width: 1000px;
@color: rgb(41, 39, 39);

// fullPage.js stuff
.section {
    text-align: center;

    .bg {
        background: inherit;
        position: absolute;
        height: 100%;
        top: 0;
        left: -15%;
        right: 0;
        width: 130%;
    }
}

ul {
    list-style-type: none;
}

#intro {

    .bg {
        background: #e97b67;

    }

}

#section2 {
    vertical-align: center;
    .bg {
        background: #87bfe4;

    }

}

#section3 {
    .bg {
        background: #f5f2de;

    }

}

.content {
    z-index: 99;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    h1 {
        .fancy-text();
        color: @color;
        transition: all 225ms ease 0ms;
    
        &:hover {
            color: darken(@color, 10%);
        }
    }

    p {
        .normal-text();
        text-align: left;
        
    }

    .fancy-text() {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 700;
        font-size: 200px;
        font-size: 10vh;
        margin: 10px;
    }

    .normal-text() {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-size: vh;
    }

    .list {
        margin-left: 10%;
        margin-right: 10%;

        p {
            margin-left: 0px;
            font-weight: 600;
        }

        ul {
            list-style: square;    
        }

        li {
            .normal-text();
            text-align: left;
            padding-bottom: 5px;
        }
    }
    
}