@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@page-width: 1000px;
@color: rgb(41, 39, 39);

h1 {
    .fancy-text();
    color: @color;
    transition: all 225ms ease 0ms;

    &:hover {
        color: darken(@color, 10%);
    }
}

.fancy-text() {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

// fullPage.js stuff
.section {
    text-align: center;

    .bg {
        background: inherit;
        position: absolute;
        height: 100%;
        top: 0;
        left: -15%;
        right: 0;
        width: 130%;
    }
}

#intro {

    .bg {
        background: #e97b67;
        // z-index: 8;
    }

    
}

#section2 {

    .bg {
        background: #87bfe4;
        // z-index: 7;
    }
}

#section3 {
    .bg {
        background: #f5f2de;
        // z-index: 6;
    }
}

.content {
    z-index: 99;
    position: relative;
    
    h1 {
        font-size: 200px;
        font-size: 10vh;
        margin: 10px;
    }

    p {
        text-align: left;
        margin-left: 20%;
        margin-right: 20%;
    }

}   