@import url(http://fonts.googleapis.com/css?family=Roboto+Mono);
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
#menu li {
  display: inline-block;
  margin: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-family: Roboto Mono;
  font-size: 15px;
  color: #4e4e4e;
}
#menu li a {
  color: #333;
  padding: 9px 18px;
  display: block;
  text-decoration: none;
}
#menu li.active {
  background: rgba(0, 0, 0, 0.25);
}
.section {
  text-align: center;
}
.section .bg {
  background: inherit;
  position: absolute;
  height: 100%;
  top: 0;
  left: -15%;
  right: 0;
  width: 130%;
}
.section .scribble {
  width: 100px;
}
.section i {
  text-decoration: none;
  color: #4e4e4e;
  padding-right: 0.5em;
}
ul {
  list-style-type: none;
}
#intro .bg {
  background: #e97b67;
}
#intro .content {
  text-align: left;
}
#intro .content h1 {
  font-size: 35px;
}
#section2 {
  vertical-align: center;
}
#section2 .bg {
  background: #87bfe4;
}
#section3 .bg {
  background: #f5f2de;
}
.content {
  z-index: 99;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}
.content hr {
  border: 0;
  display: inline-block;
  margin-top: 10em;
  margin-bottom: 0.5em;
  background-color: #4b4b4b;
  height: 3px;
  width: 20%;
}
.content h1 {
  font-family: Roboto Mono;
  font-size: 25px;
  color: #4e4e4e;
}
.content p {
  font-family: Roboto Mono;
  font-size: 15px;
  color: #4e4e4e;
  text-align: left;
}
.content .list {
  margin-left: 2%;
  margin-right: 10%;
}
.content .list p {
  margin-left: 0px;
  font-weight: 600;
}
.content .list ul {
  list-style: square;
}
.content .list li {
  font-family: Roboto Mono;
  font-size: 15px;
  color: #4e4e4e;
  text-align: left;
  padding-bottom: 5px;
}
