#header {
  color: #6c94be;
}
h1 {
  color: #6c94be;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
h1 span {
  font-weight: 600;
  color: #ff4545;
}
h1:hover {
  color: #c80000;
}
h1:hover span {
  color: #32323a;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  position: relative;
}
